In [1]:
import pandas as pd

In [11]:
worldbank="Data/Worldbankdata.csv"
df = pd.read_csv(worldbank)
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761000,50.746000,50.730000,50.715000,50.700000,...,42.940000,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000
1,Aruba,ABW,Urban population,SP.URB.TOTL,27525.000,28139.000000,28537.000000,28763.000000,28922.000000,29080.000000,...,43820.000000,44059.000000,44351.000000,44666.000000,44978.000000,45293.000000,45614.000000,45949.000000,46294.000000,46654.000000
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,NaN,2.206183,1.404498,0.788835,0.551271,0.544810,...,0.100461,0.543931,0.660561,0.707733,0.696090,0.697901,0.706219,0.731740,0.748028,0.774631
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.000,55434.000000,56234.000000,56699.000000,57029.000000,57357.000000,...,102050.000000,102565.000000,103165.000000,103776.000000,104339.000000,104865.000000,105361.000000,105846.000000,106310.000000,106766.000000
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.236462,1.432843,0.823502,0.580334,0.573498,...,0.377979,0.503385,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017

In [16]:
pop_growth_annual = df.loc[df["Indicator Name"] == "Population growth (annual %)"]

pop_growth_annual

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.236462,1.432843,0.823502,0.580334,0.573498,...,0.377979,0.503385,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017
80,Africa Eastern and Southern,AFE,Population growth (annual %),SP.POP.GROW,NaN,2.539822,2.575182,2.606839,2.633213,2.656488,...,2.756619,2.763426,2.761496,2.750400,2.732598,2.712218,2.690902,2.665620,2.636666,2.605427
156,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,NaN,1.898499,1.965805,2.029830,2.090208,2.147639,...,3.143106,3.407600,3.494592,3.355602,3.077054,2.778035,2.547833,2.384309,2.313073,2.303812
232,Africa Western and Central,AFW,Population growth (annual %),SP.POP.GROW,2.034308,2.085972,2.133725,2.173361,2.202845,2.226134,...,2.775171,2.763803,2.753564,2.745542,2.738332,2.730332,2.719330,2.704168,2.684152,2.660902
308,Angola,AGO,Population growth (annual %),SP.POP.GROW,NaN,1.392891,1.383296,1.256405,0.973970,0.618450,...,3.634150,3.597755,3.551997,3.497447,3.438869,3.378269,3.322158,3.276145,3.242914,3.218530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19840,Kosovo,XKX,Population growth (annual %),SP.POP.GROW,NaN,1.986474,2.857337,2.777956,2.702867,2.631731,...,0.859067,0.895255,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,-0.757525
19916,"Yemen, Rep.",YEM,Population growth (annual %),SP.POP.GROW,NaN,1.450907,1.484139,1.506696,1.515089,1.515455,...,2.779983,2.757339,2.716540,2.654141,2.578030,2.498277,2.423989,2.357044,2.300594,2.251561
19992,South Africa,ZAF,Population growth (annual %),SP.POP.GROW,NaN,2.453291,2.486444,2.514218,2.535789,2.552492,...,1.524514,1.581354,1.604367,1.583787,1.532243,1.471933,1.416947,1.363703,1.316292,1.273356
20068,Zambia,ZMB,Population growth (annual %),SP.POP.GROW,NaN,3.000974,2.998369,3.004541,3.022576,3.049993,...,3.020319,3.102914,3.139940,3.121249,3.066671,3.002935,2.951463,2.912653,2.893018,2.885686
20144,Zimbabwe,ZWE,Population growth (annual %),SP.POP.GROW,NaN,3.342246,3.378137,3.395753,3.390942,3.373608,...,1.536406,1.698084,1.777672,1.754741,1.663694,1.549294,1.459406,1.410382,1.421142,1.473871

In [17]:
floods = df.loc[df["Indicator Name"] == "Droughts, floods, extreme temperatures (% of population, average 1990-2009)"]

floods

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
23,Aruba,ABW,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Africa Eastern and Southern,AFE,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,Afghanistan,AFG,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,Africa Western and Central,AFW,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,Angola,AGO,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19859,Kosovo,XKX,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19935,"Yemen, Rep.",YEM,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20011,South Africa,ZAF,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20087,Zambia,ZMB,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20163,Zimbabwe,ZWE,"Droughts, floods, extreme temperatures (% of p...",EN.CLC.MDAT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
nitrous = df.loc[df["Indicator Name"] == "Nitrous oxide emissions (% change from 1990)"]

nitrous

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
28,Aruba,ABW,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-45.657571,-45.119527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Africa Eastern and Southern,AFE,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,Afghanistan,AFG,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,23.358048,24.579415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Africa Western and Central,AFW,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,Angola,AGO,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-79.656304,-79.454882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19864,Kosovo,XKX,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19940,"Yemen, Rep.",YEM,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,75.684273,77.423721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20016,South Africa,ZAF,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-6.010344,-7.587191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20092,Zambia,ZMB,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-76.264236,-76.029228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20168,Zimbabwe,ZWE,Nitrous oxide emissions (% change from 1990),EN.ATM.NOXE.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-38.740999,-38.134474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
methane = df.loc[df["Indicator Name"] == "Methane emissions (% change from 1990)"]

methane

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
30,Aruba,ABW,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,51.336955,52.835341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Africa Eastern and Southern,AFE,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Afghanistan,AFG,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,78.670470,80.439484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Africa Western and Central,AFW,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,Angola,AGO,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-14.816452,-13.973051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19866,Kosovo,XKX,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19942,"Yemen, Rep.",YEM,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,126.274770,128.515114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20018,South Africa,ZAF,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,20.355978,18.336787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20094,Zambia,ZMB,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-77.722166,-77.501594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20170,Zimbabwe,ZWE,Methane emissions (% change from 1990),EN.ATM.METH.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-17.076618,-16.255594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
total_greenhouse_gas = df.loc[df["Indicator Name"] == "Total greenhouse gas emissions (% change from 1990)"]

total_greenhouse_gas

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
33,Aruba,ABW,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,Africa Eastern and Southern,AFE,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Afghanistan,AFG,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,43.528764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Africa Western and Central,AFW,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,Angola,AGO,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-19.540575,-18.008267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19869,Kosovo,XKX,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19945,"Yemen, Rep.",YEM,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,210.887475,218.479261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20021,South Africa,ZAF,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20097,Zambia,ZMB,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,52.647984,52.757463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20173,Zimbabwe,ZWE,Total greenhouse gas emissions (% change from ...,EN.ATM.GHGT.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,103.876779,105.289436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN